@import"../stadard.css";

/*----Navbar Style------*/
.flex-navbartop{
    display: flex;
    justify-content:space-between;  
    padding-left: 10rem;
    padding-right: 10rem;
    align-items: center;
    height: 60px;
}
.border-bottom{
     border-bottom:  1px solid #707070;
    }
.flex-navbarbottom
{
    display: flex;
    justify-content:space-between;  
    padding-left: 10rem;
    padding-right: 10rem;
    align-items: center;
    height: 179px;
}
a ,a:visited{
    color: #2BAAEC;
    text-decoration: none;
}

a:hover,a:active{
 color: #25E6C8;
}
nav>div>div>i{
    color: #2BAAEC;   
}
nav>div>ul{
    display: flex;
    list-style: none;  
   
}
nav>div>ul >li{
    margin: 0 0.25rem;
    padding: 0.75rem;
    
}
#secondlist>div>ul>li>a{
    color:#363636;
}
.third-border{
    border: 1px solid gainsboro;
    height: 700px;
    background-color: #DEDEDE; 
}

.forth-border{
    border: 1px solid gainsboro;
    height: 730px;
    background-color:white;
}

/*---Section-1 Style----------*/

.first-section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    }
    .child-1{
        width:40%;
        margin-top: 55px;
        margin-left:7rem;
        
    }
    .paragraph{
     width:40%;
     margin-right: 5rem;
    
  
    }
    .button-1{
        background-color:#25E6C8 ;
        color:#FFFFFF;
        font-size:18px;
        border:none;
        height: 60px;
        width:239px;
        border-radius: 10px;
        margin-top: 2rem;
    }
    h1{
        font-size: 50px;
        font-weight: 300;
        color: #363636;
    }
  /*-----Sektion-2 Style-----*/  
.second-section{
     display:flex;
     justify-content:space-between;
    }

.paragraph-1{
    margin-top:7rem;
    margin-left: 10rem;
    width:40%; 
}
.image{
    padding-right:10rem;
    margin-top:5rem ; 
    width:40%;
  
}
#section-2>div>ul>li>h2{
    font-size: 40px;
    font-weight: 300;
    color: #2BAAEC;
    margin-bottom: 0;
    margin-top: 0.5rem;
}
#section-2>div>h1{
    font-size: 40px;  
    margin-bottom: 0rem; 
}
#section-2>div>hr{
    height:3px;
    border-width:0;
    background-color:#25E6C8;
    margin-bottom: 2rem;

}
.flex-list{
   display: flex; 
   list-style: none;
   justify-content:space-between;
    padding-left: 0;
    padding-right:5rem;
  }
  span{
      color:#2BAAEC;
  }
  /*--------Section-3--------------*/
  .fifth-border{
    border:1px solid gainsboro;
    height: 1349px;
    background-color: #F7F7F7;
    
}
  #section-3>div>h2{
    margin-top: 5rem;
    margin-bottom: 0rem;
    text-align: center;  
    font-size: 40pt;
     color:#363636 ;
     font-weight: 300;
}
#section-3>div>hr{
    height:3px;
    border-width:0;
    background-color:#25E6C8;
    margin-bottom: 2rem;
    width:450px;
}
h3{
    font-size: 22px;
    color: #363636;
    font-weight: 300;
}
.image-background{
    width:100px;
    height: 100px;
    background-color:#25E6C8;
    border-radius: 50px;
    margin:4rem auto;
}

.center-image{
    text-align: center; 
    margin-bottom: 3rem;
  }
 .div-border{
     height:436px;
     width:450px;
     width:32%;
     background-color:#FFFFFF;
     text-align: center;   
    margin-top: 2rem;
 }
.flex-cards{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap:wrap;
    margin-top: 2rem;  
    padding: 0 7rem;   
}

/*-----section-4-------*/
.border-6{
    height: 220px;
    background-color: #2BAAEC;  
}
.button-2{
    width:285px;
    height: 60px;
    background-color: #FFFFFF;
    color: #2BAAEC;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}
.flex-section-6{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12rem;
    
}
.section-font{
font-size: 30px;
color: #FFFFFF;
font-weight: 200;
}
/*---------Footer--------*/
.footer-background{
    height:81px;
    background-color: #2ba5ec;
    font-size: 16px;
    text-align: center;
    padding:2rem 0;
    border: 1px  #2b78ec;
    color:#ffffff9d; 
}
@media only screen and (max-width: 600px) {
  nav>div>div{
      display: none;
      
  }  
  nav>div>ul>li{
      
}
}